.container-fluid1{
    background-image: url('https://www.colourbox.com/preview/5197009-italian-pizza.jpg'),url('https://m.hindustantimes.com/rf/image_size_640x362/HT/p1/2014/09/29/Incoming/Pictures/1269799_Wallpaper2.jpg');
    padding-top: 70%;
    background-repeat: no-repeat;
}
#slideshow1{
  position:relative;
  height:768px;
  width:1024px;
  float:left;
}
#slideshow1 img{
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height:450px;
  z-index:8;
  opacity: 0.0;
}
#slideshow1 img.active{
  z-index:10;
  opacity: 1.0;
}
#slideshow1 img.last-active{
  z-index:9;
  opacity: 0.0;
}
.container-fluid2{
    width:70%;
    height: 70%;
    text-align: center;
}